.keyboardWrapper{
    align-self: stretch; 
    width: 75vw; 
    min-width: 450px; 
    max-width: 750px; 
    padding-bottom: 5vh
}

.keyboard{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(auto, 70px)); 
    gap: 0.5rem; 
    justify-content: center
}



.btn {
    width: 75px;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    font-family: monospace;
    text-transform: uppercase;
    background: none;
    border: 1px solid var(--text-primary);
    border-radius: 5px;
    color: var(--text-primary);
}

.btn:hover:not(:disabled) {
    background: var(--highligth);
    border-width: 2px;
    cursor: pointer;
}

.btn:active:not(:disabled) {
    border-width: 3px;
    cursor: pointer;
}

.correct {
    background-color: var(--accent1);
}

.incorrect {
    background-color: var(--accent2);
}