#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

html, body {
  font-family: monospace;
  padding: 0;
  margin: 0;
}

.contentWrapper{
  display: flex;
  flex-direction: row; 
  gap: 2rem; 
  justify-content: center;

  background-color: var(--background);
}

@media only screen and (max-width: 450px) {
  .contentWrapper {
    flex-direction: column-reverse;
    padding-bottom: 50px;
    
  }
}

